## Objective:

   The Predictive model is about predicting whether the patient having Diabetes or not.The Prediction system is for Female Patients and it using Diabetes data of women which contains attributes such as Pregnancies,Glucose level,BP,Insulin,Body Mass Index etc.The Model trained using `Support Vector Machine` and finally a Predictive System was built and tested.

## Importing Packages

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

## Read and Load the Dataset

In [3]:
diabetes_data = pd.read_csv("./diabetes.csv")

In [4]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
diabetes_data.shape

(768, 9)

In [6]:
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
#checking the null values

diabetes_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

## Statistical Analysis

In [8]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
# 0 -- Non-diabetic
# 1 -- Diabetic

diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [13]:
# it is found that the diabetic persons having higher glucose level, bp,insulin etc

diabetes_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

## Separating the data

In [16]:
X = diabetes_data.drop(columns='Outcome',axis=1)
y = diabetes_data['Outcome']

In [21]:
print(X.head())
print(X.shape)

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age
0                     0.627   50
1                     0.351   31
2                     0.672   32
3                     0.167   21
4                     2.288   33
(768, 8)

In [19]:
print(y.head())
print(y.shape)

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64
(768,)

## Data Preprocessing

In [22]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [24]:
# Standardize the data

scale = StandardScaler()

In [25]:
scale.fit(X)

StandardScaler()

In [26]:
standardized_data = scale.transform(X)

In [27]:
standardized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [30]:
#passing the standardized data to X variable

X = standardized_data
y = diabetes_data['Outcome']

## Splitting the data for Training and Testing

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify = y , random_state =2)

In [33]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(614, 8)
(154, 8)
(614,)
(154,)

## Training the Model

In [34]:
svm_model = svm.SVC(kernel='linear')

In [35]:
svm_model.fit(X_train,y_train)

SVC(kernel='linear')

## Evaluating the model

In [36]:
# finding accuracy score on training data

train_prediction = svm_model.predict(X_train)

In [38]:
train_accuracy = accuracy_score(train_prediction,y_train)

In [39]:
print('The accuracy of training prediction is :', train_accuracy)

The accuracy of training prediction is : 0.7866449511400652

## Testing the model

In [43]:
test_prediction  = svm_model.predict(X_test)

In [44]:
test_accuracy = accuracy_score(test_prediction,y_test)

In [45]:
print('The accuracy of testing prediction is :', test_accuracy)

The accuracy of testing prediction is : 0.7727272727272727

# PREDICTIVE SYSTEM FOR DIABETES

In [78]:
input_data = (4,171,72,0,0,43.6,0.479,26,)

#convert the input data into array
array_data = np.asarray(input_data)

#reshaping the converted array data
reshaped_data = array_data.reshape(1,-1)

#standardizing the reshaped data 
standard_data = scale.transform(reshaped_data)

#predicting whether having diabetes or not
prediction = svm_model.predict(standard_data)
print(prediction)

if(prediction[0]== 0):
    print("The Patient doesn't having Diabetes")    
else:
    print("The Patient is Diabetic")

[1]
The Patient is Diabetic

## Saving the model

In [1]:
import pickle