## Objective: 

The goal of this project is to clssify whether a bank note is authentic or not.The model was built using Random Forest classifier and it's a Binary classification Problem.

## Importing Packages

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

## Read and Load the Data

In [2]:
note_data = pd.read_csv('./BankNote_Authentication.csv')

In [3]:
note_data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

## Data Analysis

In [4]:
note_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [5]:
note_data.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [8]:
note_data['class'].value_counts()

0    762
1    610
Name: class, dtype: int64

In [10]:
note_data.groupby('class').mean()

       variance  skewness  curtosis   entropy
class
0      2.276686  4.256627  0.796718 -1.147640
1     -1.868443 -0.993576  2.148271 -1.246641

## Splitting the dataset

In [11]:
X= note_data.drop(columns='class',axis=1)
y = note_data['class']

In [12]:
X.shape,y.shape

((1372, 4), (1372,))

In [13]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [14]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

## Splitting the Dataset for Training and Testing

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

## Model Training

In [16]:
rfc = RandomForestClassifier()

In [17]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

## Model Evaluation

In [18]:
# Evaluating the trained model
train_prediction = rfc.predict(X_train)

In [19]:
train_prediction_accuracy = accuracy_score(train_prediction,y_train)
print(train_prediction_accuracy)

1.0

In [20]:
# Evalutiing the test model

prediction = rfc.predict(X_test)

In [22]:
prediction_accuracy = accuracy_score(prediction,y_test)
print(prediction_accuracy)

0.9854545454545455

## saving the model

In [35]:
import pickle

# open a file, where you want to store the data
file = open("bank_authentication_classifier.pkl", "wb")

# dump information to that file
pickle.dump(rfc, file)

## Loading the model

In [36]:
load_model = pickle.load(open("bank_authentication_classifier.pkl","rb"))

In [37]:
load_model

RandomForestClassifier()

## BUILDING PREDICTIVE SYSTEM

In [38]:
input_data = (-0.64326,2.4748,-2.9452,-1.0276)

#converting input data into array
array_data = np.asarray(input_data)

#reshaping the array
reshaped_data = array_data.reshape(1,-1)

#prediction on input data
predict = rfc.predict(reshaped_data)

print(predict)

if predict[0] == 0:
    print('The bank note is Authentic')
else:
    print('The bank note is not aunthentic')

[1]
The bank note is not aunthentic